* {
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #303030;
}

h1, h2, h3 {
  line-height: 1.4;
}
h1 {
  font-size: 1.43em;
  font-weight: 800;
}

h2 {
  font-size: 1.31em;
  font-weight: 700;
}

h3 {
  font-size: 1.12em;
  font-weight: 600;
}

img {
  width: 100%;
}

a {
  color: #0BAFF8;
  text-decoration: none;
}
a:visited {
  color: #670056;
}
a:hover,
a:focus {
  color: #0B1BF8;
  text-decoration: none;
}
a:active {
  color: #010EC7;
}

.button {
  display: inline-block !important;
  background-color: #7744E9 !important;
  color: #ffffff !important;
  font-weight: 600;
  padding: 10px;
  margin: 20px 0;
  border-radius: 3px;
  border-bottom: 2px solid #4D2A9B;
  transition: 0.2s opacity;
}
.button:hover {
  opacity: 0.6;
  text-decoration: none;
}
.button:active {
  color: #ffffff;
}
.button.contact {
  background-color: transparent !important;
  color: #7744E9 !important;
  text-transform: uppercase;
  border: 2px solid #7744E9;
}
.button.contact:hover {
  background-color: #7744E9 !important;
  color: #ffffff !important;
}
header {
  background-color: #7744E9;
  padding: 10px 0 4px;
  box-shadow: 0px 4px 5px 0px rgba(56, 30, 112, 0.7);
  position: fixed;
  width: 100%;
}

/* Layout styling */
.container {
  padding: 0 15px;
}
.row {
  margin: 25px 0;
  padding: 20px 0;
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #7744E9;
}
#work h2 {
  padding-top: 30px;
}

#hero h1 {
  text-align: left;
}
#hero h1 span{
  display: block;
  font-weight: 200;
  font-size: 1.00em;
}
.logo {
  max-width: 150px;
}
nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

nav > ul > li > a {
  padding-right: 14px;
  text-transform: uppercase;
  font-weight: 500;
  color: #ffffff;
}
nav > ul > li > a:visited {
  color: #ffffff;
}
nav > ul > li > a:hover {
  color: #0AD0FA;
}
nav > ul > li > a:active {
  color: #0AD0FA;
}
.navtoggle li:not(:last-child){
  display: none;
}
.navtoggle, .navtoggle.responsive {
  position: relative;
}
.navtoggle.responsive nav {
  padding: 24px 0 0;
}
.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(255,255,255,0.3);
}
.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}
.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
}

#hero {
  color: #ffffff;
  background-color: #7744E9;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}
main {
  padding-top: 55px;
}
footer {
  padding-top: 25px;
}
.social > ul > li {
  list-style-type: none;
  padding: 0;
  display: inline-block;
  font-size: 50px;
}
.social > ul {
  padding: 0;
}
#about .container{
  padding: 40px 15px 0;
}
.ebalance-section h1 h2 {
  padding-top: 30px;
}
.ebalance-section h1 span {
  display: block;
}
.ebalance-section span {
  font-size: 0.7em;
  font-weight:400;
  padding-bottom: 30px;
}
.dashboard-image {
  margin-top: 30px;
}
#social p {
  font-size: 0.7em
}

/* Animation*/

.london-illustration {
  width: 100%;
  max-width: 100%;
  height: auto
}
@keyframes color {
  0% {fill: #0B1BF8;}
  50% {fill: #CB0BF8;}
  100% {fill: #f76414;}
}
.balloon {
  animation-duration: 4s;
  animation-name: color;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes color-bg {
  0% {fill: #F9F9B5;}
  50% {fill: #FF9900;}
  100% {fill: #00098D;}
}
.background {
  animation-duration: 20s;
  animation-name: color-bg;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud {
  from {transform: translate(0, 50px);}
  to {transform: translate(200px,50px);}
}
.cloud {
  animation-duration: 30s;
  animation-name: cloud;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
@keyframes cloud-move-reverse {
  from {transform: translate(200px, 48px);}
  to {transform: translate(100px, 48px);}
}
.cloud-reverse {
  animation: 15s cloud-move-reverse infinite alternate linear;
}

/*media queries*/

@media only screen and (min-width: 640px) {
  .container {
    padding: 0 20px;
  }
  header {
    text-align: unset;
    padding: 20px 15px;
  }
  .logo {
    max-width: 250px;
  }
  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }
  nav >ul {
    margin: 1em 0;
  }
  nav > ul > li {
    display: inline-block;
  }
  .navtoggle li:not(:last-child){
    display: inline-block;
  }
  .navtoggle li:last-child{
    display: none;
  }
  
  main {
    padding-top: 100px;
    text-align: left;
  }
  body {
    font-size: 18px;
  }
  footer{
    text-align: center;
  }
  #hero {
    padding: 40px 0;
  }
  #hero h1, span, p {
    text-align: center;
    margin-bottom: 30px;
  }
  #hero span{
    display: block;
    font-weight: 200;
    font-size: 1.00em;
  }
  [class*="col-"] {
    float: left;
    padding: 10px;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .column h2 {
    margin-top: 0
  }
  .col-md-6{
    width: 100%;
    float: left;
  }
  .col-md-5 {
    width: 41.66%;
    float: right;
  }
  .col-md-7 {
    width: 58.33%;
    float: left;
  }

  .col-md-12{
    width: 100%;
  }
  #work  h2{
    padding-top: 30px;
  }
  #work h3{
    margin-top: 0;
  }
  #work p {
    text-align: left;
  }
  #about h3 {
    margin-top: 0;
    padding: 10px, 0;
  }
  #about .container h1 {
    margin-top: 30px;
  }
  .column p {
    text-align: left;
  }
  #about p {
    text-align: left;
  }

  .profile-image {
    display: block;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
  .ebalance-section h1, span{
    text-align: center;
    display: block;
    padding-top: 30px;
  }
  .ebalance-section h2 {
    padding-top: 30px;
  }
  .ebalance-section p {
    text-align: left;
  }
}
@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 50px;
  }
  #about .container {
    padding: 30px 50px;
  }

  .profile-image {
    margin-left: 0;
    padding: 0;
  }
  .col-lg-3 {
    width: 25%;
    float: left;
  }
  .col-lg-9 {
    width: 75%;
    padding-left: 15px;
    border-left: 1px solid #7744E9;
  }
  .col-lg-4 {
    width: 33.33%;
    float: right;
  }
  .col-lg-8 {
    width: 66.66%;
  }

}
