body {
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #303030
}

h1, h2, h3 {
  line-height: 1.4;
}
h1 {
  font-size: 1.50em
  font-weight: 800;
}

h2 {
  font-size: 1.25em
  font-weight: 700;
}

h3 {
  font-size: 1.12em;
  font-weight: 600;
}

img {
  width: 100%;
}

a {
  color: #0BAFF8;
  text-decoration: underline;
}
a:visited {
  color: #670056;
}
a:hover,
a:focus {
  color: #0B1BF8;
  text-decoration: none;
}
a:active {
  color: #010EC7;
}
.button {
  display: inline-block;
  background-color: #7744E9;
  color: #ffffff;
  font-weight: 600;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #4D2A9B;
  transition: 0.2s opacity;
}
.button:hover {
  opacity: 0.8;
  text-decoration: none;
}
.button:active {
  color: #6143DE;
}
.button.contact {
  background-color: transparent;
  color: #ffffff;
  text-transform: uppercase;
  border: 2px solid #7744E9;
}
.button.contact:hover {
  background-color: #7744E9;
  color: #ffffff;
}
