* {
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #303030;
}

h1, h2, h3 {
  line-height: 1.4;
}
h1 {
  font-size: 1.50em;
  font-weight: 800;
}

h2 {
  font-size: 1.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.12em;
  font-weight: 600;
}

img {
  width: 100%;
}

a {
  color: #0BAFF8;
  text-decoration: none;
}
a:visited {
  color: #670056;
}
a:hover,
a:focus {
  color: #0B1BF8;
  text-decoration: none;
}
a:active {
  color: #010EC7;
}

.button {
  display: inline-block !important;
  background-color: #7744E9 !important;
  color: #ffffff !important;
  font-weight: 600;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #4D2A9B;
  transition: 0.2s opacity;
}
.button:hover {
  opacity: 0.6;
  text-decoration: none;
}
.button:active {
  color: #ffffff;
}

.button.contact {
  background-color: transparent !important;
  color: #7744E9 !important;
  text-transform: uppercase;
  border: 2px solid #7744E9;
}
.button.contact:hover {
  background-color: #7744E9 !important;
  color: #ffffff !important;
}

header {
  background-color: #7744E9;
  padding-top: 20px;
  text-align: center;
  box-shadow: 0px 4px 5px 0px rgba(56, 30, 112, 0.7);
  position: fixed;
  width: 100%;
}

/* Layout styling */
.container {
  padding: 0 15px;
}
.row {
  margin: 25px 0;
}
#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #7744E9
}
#hero h1 {
  text-align: left;
}
.logo {
  max-width: 250px;
}
nav > ul {
  list-style-type: none;
  padding: 0;
}
nav > ul > li {
  display: inline-block;
}
nav > ul > li > a {
  padding: 0 14px;
  text-transform: uppercase;
  font-weight: 600;
  color: #ffffff;
}
nav > ul > li > a:visited {
  color: #ffffff;
}
nav > ul > li > a:hover {
  color: #0AD0FA;
}
nav > ul > li > a:active {
  color: #0AD0FA;
}
#hero {
  color: #ffffff;
  background-color: #7744E9;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}
main {
  padding-top: 140px;
}
.social > ul > li {
  list-style-type: none;
  padding: 0;
  display: inline-block;
  font-size: 50px;
}
.social > ul {
  padding: 0;
}
#about {
  padding-bottom: 25px;
}
#ebalance {
  padding-bottom: 25px;
}
