body {
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #303030
}

h1, h2, h3 {
  line-height: 1.4;
}
h1 {
  font-size: 1.50em
  font-weight: 800;
}

h2 {
  font-size: 1.25em
  font-weight: 700;
}

h3 {
  font-size: 1.12em;
  font-weight: 600;
}

img {
  width: 100%;
}
