* {
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #303030;
}

h1, h2, h3 {
  line-height: 1.4;
}
h1 {
  font-size: 1.43em;
  font-weight: 800;
}

h2 {
  font-size: 1.31em;
  font-weight: 700;
}

h3 {
  font-size: 1.12em;
  font-weight: 600;
}

img {
  width: 100%;
}

a {
  color: #0BAFF8;
  text-decoration: none;
}
a:visited {
  color: #670056;
}
a:hover,
a:focus {
  color: #0B1BF8;
  text-decoration: none;
}
a:active {
  color: #010EC7;
}

.button {
  display: inline-block !important;
  background-color: #7744E9 !important;
  color: #ffffff !important;
  font-weight: 600;
  padding: 10px;
  margin: 20px 0;
  border-radius: 3px;
  border-bottom: 2px solid #4D2A9B;
  transition: 0.2s opacity;
}
.button:hover {
  opacity: 0.6;
  text-decoration: none;
}
.button:active {
  color: #ffffff;
}
.button.contact {
  background-color: transparent !important;
  color: #7744E9 !important;
  text-transform: uppercase;
  border: 2px solid #7744E9;
}
.button.contact:hover {
  background-color: #7744E9 !important;
  color: #ffffff !important;
}
header {
  background-color: #7744E9;
  padding-top: 20px;
  text-align: center;
  box-shadow: 0px 4px 5px 0px rgba(56, 30, 112, 0.7);
  position: fixed;
  width: 100%;
}

/* Layout styling */
.container {
  padding: 0 15px;
}
.row {
  margin: 25px 0;
}
#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #7744E9;
}

#hero h1 {
  text-align: left;
}
#hero h1 span{
  display: block;
  font-weight: 200;
  font-size: 1.00em;
}
.logo {
  max-width: 250px;
}
nav > ul {
  list-style-type: none;
  padding: 0;
}
nav > ul > li {
  display: inline-block;
}
nav > ul > li > a {
  padding: 0 14px;
  text-transform: uppercase;
  font-weight: 600;
  color: #ffffff;
}
nav > ul > li > a:visited {
  color: #ffffff;
}
nav > ul > li > a:hover {
  color: #0AD0FA;
}
nav > ul > li > a:active {
  color: #0AD0FA;
}
#hero {
  color: #ffffff;
  background-color: #7744E9;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}
main {
  padding-top: 140px;
}
footer {
  padding-top: 25px;
}
.social > ul > li {
  list-style-type: none;
  padding: 0;
  display: inline-block;
  font-size: 50px;
}
.social > ul {
  padding: 0;
}
#about .container{
  padding: 20px 15px;
}
.ebalance-section h1,h2 {
  padding-top: 30px;
}
#social p {
  font-size: 0.7em
}

@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }
  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }
  main {
    padding-top: 92px;
  }
  body {
    font-size: 18px;
  }
  #hero h1{
    text-align: left;
    margin: 30px 0;
  }
  #hero span{
    display: block;
    font-weight: 200;
    font-size: 1.00em;
  }
  [class*="col-"] {
    width: 50%;
    float: left;
    padding: 10px;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  #about h3 {
    margin-top: 0;
    padding: 10px 0;
  }
  #work h3{
    margin-top: 0;
  }
}
@media only screen and (min-width: 1024px) {
  [class*="col-"] {
    width: 58.33% 41.66%;
    float: left;
    padding: 10px;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}
.london-illustration {
  width: 100%;
  max-width: 100%;
  height: auto
}
@keyframes color {
  0% {fill: #0B1BF8;}
  50% {fill: #CB0BF8;}
  100% {fill: #f76414;}
}
.balloon {
  animation-duration: 4s;
  animation-name: color;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
@keyframes cloud {
  from {transform: translate(0, 50px);}
  to {transform: translate(200px,50px);}
}
.cloud {
  animation-duration: 30s;
  animation-name: cloud;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
@keyframes cloud-move-reverse {
  from {transform: translate(200px, 48px);}
  to {transform: translate(100px, 48px);}
}
.cloud-reverse {
  animation: 15s cloud-move-reverse infinite alternate linear;
}
